@import "./variables.scss";

input {
    padding: 10px 16px;
    border-color: $gray-light;
    border-radius: 20px;
    font-size: $desktop-small;

    &::placeholder {
        color: $gray-light;
    }
}

.errorInput {
    border-color: $red;

    &::placeholder {
        color: $red;
    }
}