@import "./variables.scss";

.superButton {
    padding: 10px;
    background-color: $red;
    width: 100px;
    border-radius: 20px;
    border: 1px solid $red;
    color: $white;
    box-shadow: 1px 1px 5px $box-shadow;

    &.big {
        width: 200px;
        padding: 20px 10px;
        border-radius: 40px;
        font-size: $desktop-big
    }

    &.secondary {
        background-color: $white;
        color: $red;
    }

    &.disabled {
        background-color: $disabled;
        border-color: $disabled;
    }
}