//Globals
@import "margin";

.masonry-container {
	display: flex;
	margin-left: -10px;
	width: auto;

	.masonry-column {
		margin-left: 10px;
		background-clip: padding-box;

		> * {
			margin-bottom: 10px;
		}
	}
}